* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
    box-sizing: border-box;
}


/*html { height: 100%; }
body, main {
    position: relative;
    height: 100%;
}*/


/* color schema
rgb(0,0,0);
rgb(026, 026, 026);
rgb(019, 019, 019);
rgb(041, 041, 041);
rgb(067, 067, 067);
rgb(110, 110, 110);
rgb(154, 154, 154);
rgb(240, 240, 240);
rgb(255, 255, 255);
rgb(226, 0, 115);
#e80a89;
rgb(236, 63, 22);
#ef562a;
*/


a {
    color: rgb(236, 63, 22);
}

button:not(.button-delete) {
    background-color: rgb(236, 63, 22);
    background: linear-gradient(to right,rgb(236, 63, 22) 0,rgb(226, 0, 115) 100%);
    border: 0;
    width: 100px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    color: rgb(240, 240, 240);
}

button:hover{
    cursor: pointer;
}

.button-delete {
    background-color: red;
    border: 0;
    width: 100px;
    height: 30px;
    padding: 10px;
    /*margin: 10px;*/
    border-radius: 2px;
    color: black;
    transform: translate(90%, 90%)
}

footer {
    background-color: rgb(0,0,0);
    font-size: 12px;
    color: rgb(110, 110, 110);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
}

header {
    background-color: rgb(0,0,0);
    /*padding: 5px 5px 5px 7px;*/
    height: 50px;
    width:100%;
    top:0px;
    left:0px;
    position: fixed;
    z-index: 10;
}

h1 {
    font-weight: 200;
}

p {
    color: rgb(154, 154, 154);
}


.header {
    background-color: rgb(0,0,0);
}

.welcome-section {
    background-color: rgb(041, 041, 041);
    color: rgb(240, 240, 240);
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    padding: 90px 30px;
}

.welcome-background {
    background-image: url('/img/offlinestubswall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    align-items: center;
    text-align: center;
    position: relative;
}

.welcome-background::before {
    background-color: black;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.welcome-features-list {
    list-style: none;
    text-align: left;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.horizontal-line {
    background-color: rgb(236, 63, 22);
    background: linear-gradient(to right,rgb(236, 63, 22) 0,rgb(226, 0, 115) 100%);
    width: 80px;
    height: 5px;
    margin: 25px auto;
}

.Check-icon {
    width: 20px;
    margin-right: 10px;
}


/*===== Menue Hamburger Navigation===== */

#hamburgermenu {
    max-height: 30px;
    margin: 10px;
}

#closemenu  {
    max-height: 30px;
}

.bm-burger-button {
    position: fixed;
    width: 40px;
    /*left: 5px;*/
    max-height: 30px;
    /*margin: 10px;*/
}

.bm-cross-button {
    height: 24px;
    width: 24px;
    max-height: 30px;
}

.bm-menu {
    background-color: rgb(041, 041, 041);
    /*padding: 2.5em 1.5em 0;*/
    font-size: 1.15em;
}

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    font-size: 20px;
}

.bm-item-list > a{
    padding-top: 10px;
    color: rgb(226, 0, 115);
    text-decoration: none;
}

/*===== Comments Hamburger Navigation===== */

.bm-comments-button {
    position: fixed;
    width: 25px;
    right: 5px;
    max-height: 30px;
}


/*===== Ticket Stubs Wall ===== */

.ticketstubs-wall-container {
    background: linear-gradient(-45deg, rgb(236, 63, 22), rgb(226, 0, 115));
    padding: 5px;
    position: relative;
    top: 50px;
    min-height: 1500px;
    overflow-y: scroll;
    /*overflow: auto,*/
    /*min-height: 100%;*/
}

.single-ticketstub {
    height: 100px;
    width: 280px;
    list-style: none;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.5));
}

.icon-move-object, .icon-add-ticketstub, .icon-edit-ticketstub, .icon-more-ticketstub{
    width: 25px;
}

.icon-move-object:hover, .icon-add-ticketstub:hover, .icon-edit-ticketstub:hover, .icon-more-ticketstub:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.8));
}


/*===== Modal ===== */

.modal {
    background-color: rgb(154, 154, 154);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    height: 200px;
    max-height: 100%;
    width: 1000px;
    max-width: 100%;
    /*display: flex;
    justify-content: center;*/
}

.modal > div > input {
    max-width: 90%;
    font-size: 16px;
}


/*===== React Dragable styles ===== */

.react-draggable {
    cursor: move;
}

.cursor {
    content: url('/img/move-object.svg');
    width: 25px;
    cursor: move;
}

.cursor:hover {
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.8));
}

.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable
strong
{
  /*background: #ddd;*/
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.box {
  float: left;

  height: 100px;
  width: 280px;
  list-style: none;
  border-radius: 5px;
  margin-top: 2px;
  margin-left: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

/*===== Stub Actions styles ===== */

.stub-action-overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
}

.stub-edit-overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.stub-edit-overlay > div > input {
    /*max-width: 90%;*/
    font-size: 10px;
}

.x-close {
    color: white;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 100
}

/*.stub-action-overlay::before {
    opacity: 1;
}*/

@media (max-width: 400px) {
}
